<% 
    def palindrome_tester(s)
        if s == s.reverse
            puts "It's a palindrome!"
        else
            puts "It's not a palindrome."
        end
    end
%>
<!DOCTYPE html>


<h1><%= yield(:s) %>Sup</h1>
</html>
